<div
	pw-edit-post
	save-success-callback="close()"
	edit-auto-reload="false"
	edit-routing="false"
	edit-mode="edit"
	class="edit-post quick edit">

	<!-- LOADING -->
	<div ng-show="status=='loading'" style="text-align:center;">
		<i class="pwi-triadic-5 icon-spin icon-large loading-animation"></i>
	</div>

	<!-- WRAPPER (Cloak until loaded) -->
	<div class="wrapper" ng-cloak ng-hide="status=='loading'">

		<!--//////////////////// HEADER ////////////////////-->
		<div class="modal-body">
		
			<header class="edit-post-menu row">
				<div class="col-sm-4">
					
					<!-- TRASH -->
					<button class="btn-secondary-color" ng-click="trashPost()">
						<i class="pwi-trash"></i>
						Trash
					</button>

					<!-- CANCEL -->
					<button class="btn-neutral-color" ng-click="close()">
						<i class="pwi-close"></i> Cancel
					</button>

				</div>

				<div class="col-sm-4">
				 
				</div>

				<!-- BUTTONS -->
				<div class="col-sm-4 last">
					<button type="submit" ng-click="savePost()" class="btn btn-primary-color btn-full btn-lg save">
						<span ng-switch="status">
							<i ng-switch-default class="pwi-merkaba"></i>
							<i ng-switch-when="saving" class="pwi-triadic-4 icon-spin"></i>
							<i ng-switch-when="success" class="pwi-merkaba"></i>
							<i ng-switch-when="error" class="pwi-close"></i>
						</span>
						Save
					</button>


				</div>
				<div class="clearfix"></div>
			</header>

			<hr class="thin">

			<!--//////////////////// EDIT FIELDS ////////////////////-->

				<!-- POST TITLE -->
				<div class="input-area">
					<label class="inner">Title</label>
					<input class="labeled title" type="text" ng-model="post.post_title" placeholder="Post Title">
				</div>

				<hr class="thin">

				<!-- POST EXCERPT -->
				<div class="post-excerpt input-area">
					<label class="inner">Post Excerpt</label>
					<textarea id="post_excerpt" class="labeled" msd-elastic ng-textarea-filter data-maxlength="500" data-readmore="..."
						name="post_excerpt" ng-model="post.post_excerpt"></textarea>
				</div>				
				
		</div><!-- END MODAL BODY -->

	</div>

	<!--
	<pre>{{ post.tax_input | json }}</pre>
	<pre>{{ post.link_url | json }}</pre>
	-->

</div>
