.comments {
	position: relative;

	button{
		outline:none;
		.make-theme-button(
			@secondary-color-dark,
			@secondary-color-light,
			@secondary-color-medium,
			@secondary-color-light
			);
	}
	hr{
		border-top-color: fade( @neutral-color-medium, 25% );
		margin-top:10px;
		margin-bottom:10px;
	}
	textarea{
		background: @global-background-color;
		color: @global-foreground-color;
		border: 1px solid @neutral-color-medium;
		font-size: @font-size-md;
		outline: none;
		&:focus{
			border-color: @global-foreground-color;
		}
	}
	textarea.reply-input{
		width:100%;
		padding:10px;
		border-radius: 2px;
		border:1px solid @primary-color-medium;
		outline:none;
		color: @primary-color-medium;
		&.join-top-left{
			border-radius: 0px 2px 2px 2px;
		}
		&:focus{
			border:1px solid @primary-color-medium;
		}
	}
	.post-controls{
		//float: right;
		position: absolute;
		right: 0;
	}
	.reply-input-controls{
		margin-bottom:10px;
		float:right;
	}
	.comment-content {
		padding: 10px 15px;
		width: 100%;
		max-width: 100%;
		min-width: 100%;	
	}
	// removes UL padding from comment tree
	.comments-tree{
		padding-left:0px;
	}
	.comment-header{
		font-size:@font-size-sm;
		padding-bottom: 5px;
		.unit{
			display: inline-block;
			vertical-align: top;
			padding-top: 5px;
		}
		.expand,
		.contract{
			float:left;
			border:none;
			background:none;
			font-size: @font-size-lg;
			.pointer;
		}
		.expand,
		.contract {
			color:#ccc;
			&:hover {
				color:#777;
			}
		}
		.comment-author{
			color:@secondary-color-medium;
			font-size: @font-size-sm;
		}
		.time-ago{
			font-style: italic;
			color: @neutral-color-medium;
		}
	}

	// clears each post from the previous
	.indent {
		padding-left:10px;
		clear:both;
	}
	.comment {
		position: relative;
		border-left: 1px dotted @neutral-color-medium;
		padding-left: 10px;
		p{
			margin: 0 0 15px;
			&:last-child{
				margin-bottom: 5px;
			}
		}
	}
	button.button-reply{
		position: relative;
		left: -10px;
		transition: left @global-transition-time ease;
		&.selected{
			background: @highlight-background-color;
			color: @highlight-foreground-color;
			left: 0px;
		}
	}
}