footer#footer{
	//background: @footer-background;
	color: @footer-color;

	@footer-padding: 40px;
	@media @lg-up{
		margin-top:10px;
	}
	@media @md-down{
		margin-top:10px;
	}
	
	a{
		text-decoration: none;
	}

	hr{
		border-color: fade(@footer-color, 25%);
	}

	.footer-widgets, .footer-base{
		border-top:1px solid fade(@footer-color, 25%);
		padding: @footer-padding;
	}

	.footer-widgets{
		background: @footer-widgets-background;
	}

	.footer-base{
		background: @footer-base-background;
	}

	.sidebar{
		.heading{
			background: @global-background-color;
			margin: 10px 0 0px;
		}
	}

	.footer--custom, .footer--image{
		@media @md-up{
			height:96px;
			.center-vertical-parent();
			.inner-content{
				.center-vertical;
			}
		}
		@media @sm-down{
			.inner-content{
				padding-bottom: 20px;
			}
		}
	}
	
	.footer--custom{
		font-size: x-small;
		font-weight: 500;
		text-align: center;
		padding: 10px 0 30px;
		@media @md-up{
			padding:0;
			.center-vertical-parent();
			&.footer-custom-a{
				text-align: left;
			}
			&.footer-custom-b{
				text-align: right;
			}
		}
		.inner-content{
			@media @md-up{
				.center-vertical();
			}
		}
	}

	.footer--image{
		text-align: center;
		img{
			height: 64px;
			width: auto;
		}
	}

}
