// MEDIA EMBEDDING
.post{

	img{
		max-width:100%;
		border-radius:@meta-border-radius;
	}

	div.link_format.video{
		iframe{
			width:100%;
		}
		@media @desktop-and-above{
			@height: 420px;
			min-height:@height;
			iframe{
				height:@height;
			}
		}

		text-align: center;

	}
 }

.media-viewer{
	position:relative;
	height:90%;
	background:#000;
	border-bottom: 1px solid rgb( 80,80,80 );
	margin-bottom:20px;

	.view-image{
		width:100%;
		height:100%;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	.view-embed{
		.o-embed{
			height:100%;
		}
		iframe{
			width:100%;
			height:100%;
		}
	}

	.view-gallery-horizontal{
		width:100%;
		height:100%;
		
		.infinite-x-scroll{
			overflow: auto;
			overflow-x: scroll;
			overflow-y: hidden;
			height:100%;
			> .scroll-inner{
				height:100%;
			}
		}

		.gallery-image {
			display:inline;
			white-space:nowrap;

			img{
				height:100%;
				width:auto;
				max-width:none;
			}
		}
	}


	.view-gallery-vertical{
		width:100%;
		height:auto;
		
		.infinite-y-scroll{
			width:100%;
			height:auto;
			> .scroll-inner{
				width:100%;
			}
		}

		.gallery-image {
			display:block;
			img{
				width:100%;
				height:auto;
			}
		}
	}


	

}