
.columns( @count:2; @gap:20px ){
	-webkit-column-count: @count; /* Chrome, Safari, Opera */
	-moz-column-count: @count; /* Firefox */
	column-count: @count;

	-webkit-column-gap: @gap; /* Chrome, Safari, Opera */
	-moz-column-gap: @gap; /* Firefox */
	column-gap: @gap;

}


.fill-space(){
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

///// GRID SIZER /////
.grid-sizer-mix( @grid-width; @width-multiplier: 2; @height: 300px ){
	.grid-sizer( @grid-width );
	.grid-sizer{ width:@grid-width; }

	.feed-item, .masonry-brick{
		height:@height;
		width: @grid-width;
		&.square, &.wide, &.tall, &.x-tall, &.no-image { width: @grid-width; }
		@media @lg-up{
			&.x-wide, &.xx-wide{ width: (@grid-width * @width-multiplier); }
		}
		
	}
	
}

.dropshadow( @distance: 5px; @blur: 0px; ){
	box-shadow: @distance @distance @blur fade(@global-background-color, 50%);
}

.transition( @transition-time: @global-transition-time; ){
	transition: all @transition-time ease;
}

.appearance( @value ){
	appearance:@value;
	-moz-appearance:@value; /* Firefox */
	-webkit-appearance:@value; /* Safari and Chrome */
}

.depth-shadow( @dropshadow: 10px, @color ){
	box-shadow:
		( @dropshadow * .1 ) ( @dropshadow * .1 ) 0 @color,
		( @dropshadow * .2 ) ( @dropshadow * .2 ) 0 @color,
		( @dropshadow * .3 ) ( @dropshadow * .3 ) 0 @color,
		( @dropshadow * .4 ) ( @dropshadow * .4 ) 0 @color,
		( @dropshadow * .5 ) ( @dropshadow * .5 ) 0 @color,
		( @dropshadow * .6 ) ( @dropshadow * .6 ) 0 @color,
		( @dropshadow * .7 ) ( @dropshadow * .7 ) 0 @color,
		( @dropshadow * .8 ) ( @dropshadow * .8 ) 0 @color,
		( @dropshadow * .9 ) ( @dropshadow * .9 ) 0 @color,
		@dropshadow @dropshadow 0 @border-color;
};

.gradient-2-color( @deg: 0deg; @color1: #000; @color1-position: 0%; @color2: #fff; @color2-position: 100%;  ){
	background: -moz-linear-gradient(	@deg, @color1 @color1-position, @color2 @color2-position); /* FF3.6-15 */
	background: -webkit-linear-gradient(@deg, @color1 @color1-position, @color2 @color2-position); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(		@deg, @color1 @color1-position, @color2 @color2-position); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


