///// GRID SIZER /////
.grid-sizer-mix( @grid-width ){
  .grid-sizer( @grid-width );
  .grid-sizer{ width:@grid-width; }
  .masonry-brick{
    &.square, &.wide, &.tall, &.x-tall, &.no-image { width:@grid-width !important; }
    &.x-wide, &.xx-wide{ width: (@grid-width*2) !important; }
  }
  
}

.dropshadow( @distance: 5px; @blur: 25px; ){
	box-shadow: @distance @distance @blur fade(@global-background-color, 25%);
}

.transition( @transition-time: @global-transition-time; ){
	transition: all @transition-time ease;
}
