
// Prevent the modal from overlapping WP Admin Bar when logged in
body.admin-bar{
	.modal{
		margin-top: 32px !important;
	}
}

.modal.quick_edit .modal-content,
.modal.modal-view-post .modal-content{
  background:#fff;
}

.modal.modal-view-post .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
     transform: translate(0, 0);
     opacity:1;
}

///// VIEW POST /////
.modal.modal-view-post {
	.modal-dialog{
		 
	}
	.modal-dialog{
		@media @desktop-and-above{ width:100% };
		//@media @full{ width:66%; };

		min-height:100%;
		padding:0;
		.modal-content{
			min-height:100%;
			background:rgba(0,0,0,0.8);
			color:@gray5;
			border-radius:0;
			transition:none;

			hr{
				border-top-color:@gray5;
			}

			

		}
	}

}

.post-modal{
  h1{
  	margin-bottom:0;
  }
  .feature_image img{
    width:100%;
    height:auto;
    border-radius:4px 4px 0 0;
  }

  img{
    max-width: 100%;
    height:auto;
  }

  .post-wrapper{
  	padding:0 30px 30px ;
  }

  .post_content, .post_excerpt{
  	color:@blue1;
  }

  header{
  	.details{
  		margin-top:15px;
  	}
  }

  footer{
  	padding-top:20px;
  }

}






.modal-media {
	.modal-dialog{
		width:80%;
		height:100%;
		padding:5% 0;
		.modal-content{
			background:fade( #000, 80% );
		}
		.modal-content, .post, .wrapper, .media-embed, .o-embed, iframe{
			height:100%;
		}
		.post .media-embed.video iframe{
			height:100%;
		}
	}
}


