
// Prevent the modal from overlapping WP Admin Bar when logged in
body.admin-bar{
	.modal-dialog{
		padding-top: 32px;
	}
}

.modal-media {
	.modal-dialog{
		width:90%;
		height:100%;
		padding:5% 0;
		.modal-content{
			background:fade( #000, 80% );
		}
		.modal-content, .post, .wrapper, .media-embed, .o-embed, iframe{
			height:100%;
		}
		.post .media-embed.video iframe{
			height:100%;
		}
	}
}

.modal-view-post{
	.modal-dialog{
		min-height:100%;
		padding:0;
		.modal-content{
			min-height:100%;
		}
	}
}