
.module{
	background:#fff;
	border-radius:@meta-border-radius;

}



.menu-social{
	a{
		text-decoration: none;
		color: @secondary-color-medium;
		&:hover{
			color: @secondary-color-dark;
		}
		
	}
	img{
		width:auto;
		height:32px;
		padding:0 8px;
	}
	i{
		display:inline-block;
		width:32px;
		font-size:32px;
	}
}

  
