
.module{
	background:@global-background-color;
	border-radius:@meta-border-radius;
}


.menu-social{
	a{
		text-decoration: none;
		color: @secondary-color-medium;
		&:hover{
			color: @secondary-color-dark;
		}
		
	}
	img{
		width:auto;
		height:32px;
		padding:0 8px;
	}
	i{
		display:inline-block;
		width:32px;
		font-size:32px;
	}

	&.grayscale{
		a{
			img{
				-webkit-filter: grayscale(1); 
				opacity:0.33;
				transition:all .25s ease;
			}
			&:hover{
				img{
					-webkit-filter: grayscale(0); 
					opacity:1;
				}
			}
		}
	}
}


.module.share-social {
	a{
		padding:0;
		margin:0;
		border:none;
		opacity: 1;

	}
	.icon{
		.transition();
		font-size:40px;
		margin-right: 3px;
		color: @neutral-color-medium;
		opacity:.66;
		&:hover{
			cursor: pointer;
			color: @global-foreground-color;
			opacity:1;
		}
		@media @tablet-and-above{
			font-size:32px;
		}

	}

}
  






