.assign-symbol( @symbol-code ){
	.symbol-target{
		font-family: "Postworld-Icons";
		font-style: normal;
		&:before{
			content: @symbol-code;
		}
		position: relative;
		display: inline-block;
	}
}

.symbol-circle{
	.assign-symbol( "\e6f5" );
}
.symbol-triangle{
	.assign-symbol( "\e704" );
}
.symbol-hexagon{
	.assign-symbol( "\e6f9" );
}
.symbol-square{
	.assign-symbol( "\e6fd" );
}
