

///// ELEMENTS & CLASSES /////
html {
	//overflow-y: scroll;
}

@font-face {
	font-family: "Century Gothic";
	src: url( @{child-theme}/lib/fonts/century-gothic.ttf );
}

body, body.infinite{
	font-family: "Century Gothic";
	color: @neutral-color-dark;
}

