

///// ELEMENTS & CLASSES /////
html {
	//overflow-y: scroll;
	@media @mobile{
		//overflow-x: hidden;
	}
}

body{
	overflow-x: hidden;
	background-color: @global-background-color;

	a{
		outline:none !important;
		.transition();
		color: mix( @primary-color-medium, @global-foreground-color, 80% );
		&:hover{
			color: mix( @primary-color-medium, @global-foreground-color, 50% );
		}
	}
}

@font-face {
	font-family: "Century Gothic";
	src: url( @{child-theme}/lib/fonts/century-gothic.ttf );
}

body{
	font-family: "Roboto";
	font-weight:300;
	color: @global-foreground-color;
}

.icon{
	color:@neutral-color-medium;
	display: inline-block;
	margin-right:10px;
}

.icon-md{
	display:inline-block;
	min-width:24px;
}

.loading-animation{
	color: fade(@global-foreground-color, 33%);
	font-size: 48px;
	display: inline-block;
	padding: 20px;
}

body{
	h1{
		margin-top:0;
	}
	.highlight-color{
		a{
			opacity:1 !important;
			background: @highlight-color-dark;
			color: @highlight-color-light !important;
			//border:none !important;
			&:hover{
				background: @highlight-color-medium;
				color: #fff !important;
				border-color: @highlight-color-medium !important;
			}
		}
	}
}

#pw-background-secondary{
	position:absolute;
	width:100%;
	overflow:hidden;
}
