html{
	body{
		font-family: @font-family-body;
	}

	h1,h2,h3,h4,h5,h6{
		font-family: @font-family-title;
		font-weight:200;
		-webkit-font-smoothing: antialiased;
	}

	h1{
		font-size:36px;
		line-height: 40px;
	}

	h1, h2, h3, h4 {
		.glyphicon{
			line-height:0.5;
		}
	}

	label{
		font-weight:normal;
	}

	.post-content{
		font-family: @font-family-content;
	}

	.menu{
		font-family: @font-family-menu;
		-webkit-font-smoothing: antialiased;
	}

}