@global-foreground-color: #fff;
@global-background-color: #000;
@global-transition-time: 0.2s;

@highlight-color-light: #ffac7f;
@highlight-color-medium: #ff5a00;
@highlight-color-dark: #802d00;

@header-height: auto;
@menu-border-left: 15px;

@main-menu-slide-down: 0px;

@shadow-md:4px 4px 0 @red1;

@meta-border-radius: 2px;