@global-transition-time: 0.2s;


@menu-border-left: 15px;
@main-menu-slide-down: 0px;
@shadow-md:4px 4px 0 @red1;
@meta-border-radius: 2px;


@header-height: auto;
@header-height-fixed:64px;



@font-size-xl:36px;
@font-size-lg:24px;
@font-size-md:18px;
@font-size-sm:14px;
@font-size-xs:12px;