<div
	pw-post

	post-required-fields="['gallery(ids,posts)', 'post_content', 'post_meta(all)']"
	require-required="false"

	art-post
	
	ng-keypress="keyPress()"

	class="post full i-transition-fadein wrapper"

	pw-timeout="200"
	timeout-action="addClass('fadein-on')">

	<!-- LOADING 
	<div ng-show="status=='loading'" class="loading">
		<i class="icon-spinner icon-spin icon-large"></i>
	</div>
	-->

	<!-- IMAGE -->
	<div class="media-viewer" window-height="90%" ng-show="showView('modalImage')">

		<div class="nav-btn-area area-left" ng-click="previousPost()" ng-show="feed">
			<button
				class="btn-previous"
				tooltip="Previous (Left Arrow on Keyboard)"
				tooltip-placement="right"
				tooltip-popup-delay="333">
				<i class="glyphicon glyphicon-chevron-left"></i>
			</button>
		</div>
		<div class="nav-btn-area area-right" ng-click="nextPost()" ng-show="feed">
			<button
				class="btn-next"
				tooltip="Next (Right Arrow on Keyboard)"
				tooltip-placement="left"
				tooltip-popup-delay="333">
				<i class="glyphicon glyphicon-chevron-right"></i>
			</button>
		</div>

		<div
			class="view-image"
			ng-style="backgroundImage( post.image.sizes.full.url )">
		</div>

	</div>

	<!-- GALLERY : HORIZONTAL -->
	<div
		class="media-viewer"
		window-height="{{post.post_meta.i_meta.gallery.height}}"
		ng-show="showView('galleryHorizontal')">
		<div
			style="height:100%;">
			<div
				pw-infinite-gallery
				gallery-preload="4"
				gallery-scroll="galleryGetNext(3)"
				class="view-gallery-horizontal">
				<!-- INFINITE SCROLL -->
				<div class="infinite-x-scroll" id="scrolls">
					<div
						class="scroll-inner"
						infinite-x-scroll
						scroll-action="galleryGetNext( 4 )"
						scroll-distance="{{post.post_meta.i_meta.gallery.x_scroll_distance}}"
						scroll-disabled="!showView('galleryHorizontal')"
						scroll-parent>
						<!-- GALLERY IMAGE -->
						<div
							class="gallery-image"
							ng-repeat="galleryPost in galleryDisplayedPosts()">
								<img pw-src="galleryPost.image.sizes.full.url">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- EMBED -->
	<div class="media-viewer" window-height="90%" ng-show="showView('modalEmbed')">
		<div
			class="view-embed"
			o-embed="post.link_url"
			autoplay="showView('autoplayEmbed')">
			<div class="o-embed" pw-compile-code="post.link_url_embed"></div>
		</div>
	</div>

	<div class="post-head">

		<div class="row">
			<div class="col-md-8">
				
				<!-- TITLE -->
				<h1>
					<span class="icon">
						<i
							ng-show="post.post_meta.i_meta.gallery.template == 'vertical'"
							class="glyphicon glyphicon-arrow-down"></i>
						<i
							ng-show="post.post_meta.i_meta.gallery.template == 'horizontal'"
							class="glyphicon glyphicon-arrow-right"></i>
					</span> 
					{{ post.post_title }}
				</h1>
				
				<!-- TAGS -->
				<div class="taxonomy">
					<div class="tags" ng-show="post.taxonomy.post_tag">
						<i class="icon glyphicon glyphicon-tags"></i>
						<span ng-repeat="term in post.taxonomy.post_tag">
						    <a href="{{ term.url }}" class="term tag"
								tooltip="more with this tag" tooltip-placement="bottom" tooltip-popup-delay="500">
								{{ term.name }}
							</a>
						</span>
					</div>
				</div>

			</div>

			<div class="col-md-4">
				
				<!--///// POST CONTROLS /////-->
				<div class="post-controls pull-right">
					<!-- LINK -->
					<a
						ng-href="{{ post.post_permalink }}"
						class="btn"
						stop-propagation-click
						tooltip="link"
						tooltip-placement="top"
						tooltip-popup-delay="500">
						<i class="glyphicon glyphicon-link"></i>
					</a>
					<!-- DROPDOWN -->
					<span
						pw-admin-post-menu
						ng-show="userOptions != 0"
						class="admin-menu dropdown">
						<button
							prevent-default-click
							dropdown-toggle
							class="edit-post"
							style="border:none"
							tooltip="edit"
							tooltip-placement="top"
							tooltip-popup-delay="500">
							<i class="icon-x-merkaba"></i>
						</button>
						<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel" >
							<li prevent-default-click ng-repeat="item in userOptions">
								<button ng-click="menuAction(item.action)"><i ng-class="item.icon"></i> <span ng-bind="item.name"></span></button>
							</li>
						</ul>
					</span>
				</div>

				<!-- TIME -->
				<div
					class="time unit pull-right"
					tooltip="{{ post.post_timestamp | amDateFormat:'MMMM Do YYYY, h:mm a' }}"
					tooltip-placement="bottom">
					<time datetime="{{ post.post_date }}">
						<i class="icon-time"></i> {{ post.time_ago }}
					</time>
				</div>

				<!-- DOWNLOAD -->
				<div
					class="download unit pull-right"
					ng-show="post.post_meta.i_meta.image.download">
					<a download pw-href="post.image.sizes.full.url">
						<i class="icon-download"></i>
						download
					</a>
				</div>

			</div>
		</div>

	</div>
	
	<div
		class="post_content columns-{{ post.post_meta.i_meta.post_content.columns }}"
		pw-compile-code="post.post_content">
	</div>


	<!-- GALLERY : VERTICAL SCROLL -->
	<div
		class="media-viewer"
		window-width="{{post.post_meta.i_meta.gallery.width}}"
		ng-show="showView('galleryVertical')">
		<div
			pw-infinite-gallery
			gallery-preload="4"
			gallery-scroll="galleryGetNext(1)"
			class="view-gallery-vertical">
				<!-- INFINITE SCROLL -->
				<div class="infinite-y-scroll" id="scrolls-y">
					<div
						class="scroll-inner"
						infinite-y-scroll
						scroll-container=".modal"
						scroll-action="galleryGetNext( 2 )"
						scroll-disabled="!showView('galleryVertical')"
						scroll-distance="{{post.post_meta.i_meta.gallery.y_scroll_distance}}">
						<!-- GALLERY IMAGE -->
						<div
							class="gallery-image"
							ng-repeat="galleryPost in galleryDisplayedPosts()">
							<a href="{{galleryPost.post_permalink}}">
								<img ng-src="{{galleryPost.image.sizes.full.url}}">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--
	<div
		class="post_content"
		ng-bind-html="post.post_content_html">
	</div>
	-->

	<!-- WRAPPER (Cloak until loaded) -->
	<div
		ng-cloak ng-hide="status=='loading'"
		class="i-transition-fadein wrapper"
		pw-timeout="333"
		timeout-action="addClass('fadein-on')">

	</div>
	<!-- END WRAPPER -->
	<!--
	STATUS : {{ status }} <br>
	MODE : {{ mode }} <br>
	POST.DEV : {{ post.dev |  }}
	-->
	
<div class="clearfix"></div>

</div><!-- END POST -->
