<div
	pw-post
	post-required-fields="['gallery(ids,posts)', 'post_content']"

	art-post
	
	ng-keypress="keyPress()"

	class="post i-transition-fadein wrapper"

	pw-timeout="200"
	timeout-action="addClass('fadein-on')">

	<!-- LOADING 
	<div ng-show="status=='loading'" class="loading">
		<i class="icon-spinner icon-spin icon-large"></i>
	</div>
	-->

	<div class="media-viewer" window-height="90%" >
	
		<!-- IMAGE -->
		<div
			ng-show="showView('image')"
			class="view-image"
			ng-style="backgroundImage( post.image.sizes.full.url )">
		</div>
		
		<!-- EMBED -->
		<div
			ng-show="showView('embed')"
			class="view-embed"
			o-embed="{{post.link_url}}"
			autoplay>
			<div class="o-embed" ng-bind-html="post.link_url_embed"></div>
			<!--<div ng-bind="oEmbedCode | json"></div>-->
		</div>

		<!-- GALLERY -->
		<div
			ng-show="showView('gallery')"
			style="height:100%;">

			<!-- HORIZONTAL INFINITE SCROLLING -->
			<div
				pw-infinite-gallery
				gallery-preload="4"
				gallery-scroll="galleryGetNext(3)"
				gallery-scroll-direction="horizontal"
				class="view-gallery-horizontal">
					<!-- INFINITE SCROLL -->
					<div class="infinite-h-scroll" id="scrolls">
						<div
							class="scroll-inner"
							infinite-h-scroll
							scroll-action="galleryGetNext( 2 )"
							scroll-distance="1000"
							scroll-parent>
							<!-- GALLERY IMAGE -->
							<div
								class="gallery-image"
								ng-repeat="galleryPost in galleryDisplayedPosts()">
								<a href="{{galleryPost.post_permalink}}">
									<img ng-src="{{galleryPost.image.sizes.full.url}}">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
		
		<!-- INFINITE GALLERY -->
		<!-- Handles the Gallery Data -->
		
		<!-- EMBED -->
	</div>
	
	<hr>
	<h2>{{ post.post_title }}</h2>
	<hr>

	<div
		ng-show="feed">
		<button ng-click="previousPost()"> ‹‹ Previous </button>
		<button ng-click="nextPost()"> Next ›› </button>
	</div>

	<hr>

	<!-- FIND A WAY TO REGISTER/COMPILE/PROCESS THE INLINE JAVASCRIPT -->
	<div
		class="post_content"
		pw-compile-code="post.post_content">
	</div>

	<hr>

	<div
		class="post_content"
		ng-bind-html="post.post_content_html">
	</div>

	<!-- pw-compile -->

	<hr>
	<!-- WRAPPER (Cloak until loaded) -->
	<div
		ng-cloak ng-hide="status=='loading'"
		class="i-transition-fadein wrapper"
		pw-timeout="333"
		timeout-action="addClass('fadein-on')">

	</div>
	<!-- END WRAPPER -->
	<!--
	STATUS : {{ status }} <br>
	MODE : {{ mode }} <br>
	-->
	
</div><!-- END POST -->
