<div
	pw-post
	pw-language
	class="post">

	<!-- LOADING -->
	<div ng-show="status=='loading' || oEmbedStatus[post.link_url] == 'loading'" class="loading">
		<i class="icon-spinner icon-spin icon-large"></i>
	</div>

	<!-- WRAPPER (Cloak until loaded) -->
	<div
		ng-cloak ng-hide="status=='loading' || oEmbedStatus[post.link_url] == 'loading'"

		class="i-transition-fadein wrapper"
		pw-timeout="2000"
		timeout-action="addClass('fadein-on')"
		
		>

			<!-- MEDIA -->
			<div
				class="media-embed layer-2"
				ng-class="post.link_format"
				ng-show="post.link_format == 'video' || post.link_format == 'audio'">
				<div
					class="o-embed"
					o-embed="post.link_url"
					autoplay="true"
					run="post.link_format == 'video' || post.link_format == 'audio'">
					<div class="o-embed" ng-bind-html="oEmbed"></div>
					<!--<div ng-bind="oEmbedCode | json"></div>-->
				</div>
			</div>

	</div>
	<!-- END WRAPPER -->
	<!--
	STATUS : {{ status }} <br>
	MODE : {{ mode }} <br>
	POST : <pre>{{ post | json }}</pre>
	<hr>
	<pre>{{ post | json }}</pre>
	-->
	
</div><!-- END CONTROLLER -->
