<div
	class="image-info"
	pw-ui
	ng-hide="!uiBool(post)">
	<div
		class="image-title"
		ng-show="uiBool(post.post_title)">
		<a href="{{ post.post_permalink }}">
			<h4>
				{{ post.post_title }}
			</h4>
			<span class="image-permalink">
				<i class="icon pwi-share"></i>
				Share
			</span>
		</a>
		<span ng-show="vars.download" class="links-inline-button">
			<a
				href="{{ post.image.sizes.full.url }}"
				download
				tooltip="download"
				tooltip-popup-delay="1000">
				<i class="icon pwi-arrow-down-thin"></i>
			</a>
		</span>
	</div>
	<div
		class="image-caption"
		ng-show="uiBool(post.post_excerpt)">
		{{ post.post_excerpt }}
	</div>
	
	<div class="image-links" ng-show="uiBool(post.link_url)">
		<span class="link-label">
			<a ng-href="{{post.link_url}}" target="_blank">
				<i class="icon pwi-link"></i>
				{{ vars.link_label.label.custom }}	
			</a>
		</span>
	</div>

</div>