<div class="post-controls pull-right">
	<!-- DROPDOWN -->
	<span
		uib-dropdown
		pw-admin-post-menu
		ng-show="userOptions != 0"
		class="admin-menu dropdown">
		<button
			prevent-default-click
			uib-dropdown-toggle
			class="edit-post"
			style="border:none">
			<i class="pwi-merkaba"></i>
		</button>
		<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel" >
			<li prevent-default-click ng-repeat="item in userOptions">
				<button ng-click="menuAction(item.action)"><i ng-class="item.icon"></i> <span ng-bind="item.name"></span></button>
			</li>
		</ul>
	</span>
</div>