<div pw-ui pw-colors>
	<div pw-compile-code="uiStyleElement('html body ::-webkit-scrollbar-track',{background:getHex(post,'dynamic','last')})"></div>
	<div pw-compile-code="uiStyleElement('html body ::-webkit-scrollbar-thumb',{background:getHex(post,'dynamic','second')})"></div>
	<div pw-compile-code="uiStyleElement('.share-social .icon, .post .icon, .post a, .modal-head .icon, .post .callout',{color:getHex(post,'dynamic','second')})"></div>
	<div pw-compile-code="uiStyleElement('.post .post-title a',{color:getHex(post,'dynamic','first')})"></div>
</div>