<div
	pw-gallery-viewer
	gallery-posts="post.gallery.posts"
	gallery-keybinding="{{ vars.keybind }}"
	class="gallery-viewer view-gallery-frame"
	pw-ui>
	
	<!-- DEVELOP HYBRID KEYBINDING WITH MODAL CONTROLLER - LISTEN $ON FOR ENABLE / DISABLE KEYBINDINGS ON THE TOP MODAL WINDOW, GALLERY CONTROLLER INTERACTS WITH THAT -->
	<!-- SUPPORT FOR PANORAMA SCROLLING / VERTICAL SCROLLING -->
	<!-- INCLUDE VARS FOR WHETHER OR NOT TO SHOW DOWNLOAD IMAGE LINK AND KEYBIND -->
	<!-- ADD FULL SCREEN SUPPORT -->

	<div
		class="gallery-image"
		ng-swipe-left="nextImage()"
		ng-swipe-right="previousImage()">
		<div
			class="image-viewer image-hover-area"
			style="height:75vh;"
			pw-smart-image="selectedImage().image"
			smart-image-dynamic>

			<div class="loading-outer" ng-show="!galleryLoaded()">
				<div class="loading-inner">
					<i class="icon pwi-spinner-2 icon-spin"></i>
				</div>
			</div>

			<div
				class="image-overlay"
				ng-click="nextImage()">
			</div>

			<!-- IMAGE INFO -->
			<div
				pw-include="panels/image-info"
				include-post="selectedImage()"
				include-vars="{download:post.post_meta.pw_meta.image.download,link_label:post.post_meta.pw_meta.link_url}">
			</div>

		</div>
	</div>

	<table class="gallery-menu">
		<tr>
			<td
				class="menu-cell menu-cell-previous">
				<button type="button" ng-click="previousImage()">
					<i class="pwi-triangle-left-fill"></i>
				</button>
			</td>
			<td
				ng-repeat="imagePost in gallery.posts track by trackingPosts(imagePost)"
				class="menu-cell menu-cell-thumbnail">
				<button
					type="button"
					class="thumbnail-button"
					ng-click="gotoImage(imagePost)"
					ng-class="imageIsSelected(imagePost)"
					pw-smart-image="imagePost.image">
					<div class="thumbnail-overlay"></div>
				</button>
			</td>
			<td
				class="menu-cell menu-cell-next">
				<button type="button" ng-click="nextImage()">
					<i class="pwi-triangle-right-fill"></i>
				</button>
			</td>
		</tr>
	</table>

	<!--<pre>INDEX : <span ng-bind="gallery.index"></span> // COUNT : <span ng-bind="gallery.count"></span> // META : <span ng-bind="gallery | json"></span></pre>-->

</div>


