<!--//// GALLERY TEMPLATE : VERTICAL /////-->
<div class="media-viewer" pw-ui>
	<div
		pw-infinite-gallery
		gallery-preload="2"
		gallery-scroll="galleryGetNext(2)"
		class="gallery--vertical">
			<div class="clearfix"></div>
			<!-- INFINITE SCROLL -->
			<div class="infinite-y-scroll" id="scrolls-y">
				<div
					class="scroll-inner"
					infinite-y-scroll
					scroll-container="{{vars.yScrollContainer}}"
					scroll-action="galleryGetNext(2)"
					scroll-distance="1000">
					<!-- scroll-disabled="post.post_meta.artdroid_meta.gallery.template != 'vertical'" -->
					<!-- GALLERY IMAGE -->
					<div
						class="gallery-image"
						ng-repeat="galleryPost in galleryDisplayedPosts()">
							<div
								class="image-details"
								ng-show="post.post_meta.artdroid_meta.gallery.vertical.show_title || post.post_meta.artdroid_meta.gallery.vertical.show_caption">
								<h4
									ng-show="post.post_meta.artdroid_meta.gallery.vertical.show_title">
									<a href="{{ galleryPost.post_permalink }}">
										{{ galleryPost.post_title }}
									</a>
								</h4>
								<p ng-show="post.post_meta.artdroid_meta.gallery.vertical.show_caption && uiBool(galleryPost.post_excerpt)">
									{{ galleryPost.post_excerpt }}
								</p>
							</div>
							
							<img
								pw-smart-image="galleryPost.image"
								smart-image-min-width="512"
								smart-image-timeout="1000">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>