<masonry
	column-width=".grid-width-controller"
	masonry-options='{ "gutter": 0, "transitionDuration":0 }'
	infinite-scroll='getNext()'
	infinite-scroll-disabled='busy'
	infinite-scroll-use-document-bottom="true"
	class="grid-columns-{{ feed.options.views.grid.columns }}">

	<div
		art-feed>
		<div class="grid-width-controller"></div>
		<div
			ng-repeat="post in posts"
			class="feed-item masonry-brick"
			pw-grid
			ng-class="setGridClass( post.image.tags )">
			<div
				feed-item
				post="post"
				feed-settings="args"
				class="feed-post">
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</masonry>

<div class="clearfix"></div>

<div
	ng-show='busy'
	class="text-center">
	<div
		class="loading loading-animation">
		<i class="icon-triadic-4 icon-spin"></i>
	</div>
</div>