<div
	class="pw-transition-fadein feed-block-widget"
	pw-timeout="{{ (post.feed.loadOrder * 200) }}"
	timeout-action="addClass('fadein-on')"
	pw-feed-post
	pw-ui>
	<div class="feed-block-wrapper">
		<div
			class="widget"
			style="position:relative; z-index:2;"

			pw-compile-code="::widgets[ post.block.index ]">
		</div>
		<div
			ng-style="::uiBackgroundImage(feed().blocks.widgets.background_image.obj.url)"
			style="z-index:1;"
			pw-parallax
			parallax-depth="{{ ::feed().blocks.widgets.background_image.parallax_ratio }}"
			parallax-in-feed>
		</div>
	</div>
</div>