<div
	pw-modal-access
	ng-cloak
	class="post grid i-transition-fadein"
	pw-grid-item

    pw-timeout="{{ (post.feed.loadOrder * 200) }}"
    timeout-action="addClass('fadein-on')">
    
	<a
		href="{{ post.post_permalink }}"
		ng-click="openModal({ mode:'feed', post:post })"
		prevent-default-click>

		<div class="grid-image"
			style="background-image:url({{ post.image.sizes[ getImageSize('thumb-', post.image.tags ) ].url }})">
		</div>

		<div class="overlay">
			<div
				class="link_format"
				ng-class="post.link_format">
				<div ng-show="post.link_format == 'video'">
					<button class="btn video">
						<i class="glyphicon glyphicon-play"></i>
					</button>
				</div>
			</div>
		</div>
		

		<div class="grid-info">
			<h2>{{ post.post_title }}</h2>
		</div>

	</a>

	<div class="details" ng-show="post.image">
		<div class="post_excerpt">
			<!-- TOPIC & SUBTOPIC -->
			<span ng-repeat="term in post.taxonomy.category">
				<a href="{{term.url}}" ng-class="term.slug" class="topic">{{term.name}}</a>
	      		<span ng-show="!$last"> + </span>
	      		<span ng-show="$last"> • </span>
			</span>

			<span am-time-ago="post.post_timestamp" title="{{post.post_timestamp | amCalendar}}"></span> 

			<span ng-show="post.post_excerpt">
				• {{ post.post_excerpt }}
			</span>
			
			<div class="post-controls">
				<button
					ng-click="openModal({ mode:'media', post:post })"
					class="btn image"
					prevent-default-click
					tooltip="Permalink"
					tooltip-placement="top"
					tooltip-popup-delay="333">
					<i class="glyphicon glyphicon-plus"></i>
				</button>

				<!-- DROPDOWN -->
				<span
					pw-admin-post-menu
					ng-show="userOptions != 0"
					class="admin-menu dropdown">
					<button prevent-default-click dropdown-toggle class="view_later edit" style="border:none">
						<i class="glyphicon glyphicon-pencil"></i>
					</button>
					<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel" >
						<li prevent-default-click ng-repeat="item in userOptions">
							<button ng-click="menuAction(item.action)"><i ng-class="item.icon"></i> <span ng-bind="item.name"></span></button>
						</li>
					</ul>
				</span>

			</div>
			
			<!--
			<div style="font-size:9px; line-height:1.2em;">{{ post.image }}</div>
			Feed : {{ post.feed | json }} /////
			Stats : {{ post.image.stats | json }} /////
			Tags : {{ post.image.tags | json }} /////
			$scope.feedSettings : {{ feedSettings | json }}
			-->
		</div>
	</div>

</div>