<div
	pw-grid-item
	class="post grid"
	ng-style="setGridStyle()">

	<a href="{{ post.post_permalink }}" >

		<div class="grid-image"
			style="background-image:url({{ post.image[ getImageSize() ].url }})">
		</div>

		<div class="overlay">
			<div class="link_format"
				pw-modal-access>

				<div ng-show="post.link_format == 'video'">
					<button
						ng-click="openModal({ mode:'media', post:post })"
						class="btn"
						prevent-default-click
						tooltip="Play"
						tooltip-placement="top"
						tooltip-popup-delay="200">
						<i class="glyphicon glyphicon-play"></i>
					</button>
				</div>
			</div>
		</div>
		
		<div class="grid-info">
			<h2>{{ post.post_title }}</h2>
		</div>

	</a>

	<div class="details" ng-show="post.image">
		<div class="post_excerpt">
			Stats : {{ post.image.stats | json }} /////
			Tags : {{ post.image.tags | json }} /////
			$scope.feedSettings : {{ feedSettings | json }}
		</div>
	</div>

</div>