.type-blog.view-full{
	border-top: 8px solid @neutral-color-medium;
	color: @blog-foreground-color;

	h1 a{
		color: @blog-link-color;
	}

	.blog-head{
		padding-top:30px;
		background-color: @blog-background-color;
	}

	.content-wrapper{
		//.pad-x-lg;
		//margin:20px 0;
	}

	.post-title{

	}

	.time{
		float:left;
		color: @neutral-color-medium;
		margin-top:21px;
	}

	.taxonomy.category{
		margin-bottom: 30px; 
		float:left;
	}

	.share-social{
		float:right;
	}

	.post-content{
		//padding-top:20px;
		color: @blog-foreground-color;
		background-color: @blog-background-color;
		a{
			color: @blog-link-color;
			border-bottom-color: @blog-link-color;
			&:hover{
				@hover-color: mix( @blog-link-color, @blog-background-color, 50% );
				color: @hover-color;
				border-bottom-color: @hover-color; 
			}
		}
	}

	.social-footer{
		background-color: mix( @blog-background-color, @global-background-color, 92% );
	}

	.taxonomy-footer{
		background-color: @blog-background-color;
		a{
			color: @blog-foreground-color;
		}
	}

	.social-widgets{
		-webkit-filter:none;
		.social-widget{
			opacity: 1;
		}
	}

	@media @xs{
		.share-social{
			float:none;
			height: 64px;
		}
	}

	.comments-thirdparty{
		background-color: @blog-background-color;
		padding-top: 30px; 
		padding-bottom: 30px;
	}

	.taxonomy.tags{
		
	}

	.post-content-more{
		a{
			display: block;
			text-decoration: none;
		}
		button.read-more{
			.transition();
			display: block;
			width: 100%;
			background: transparent;
			border-top: 1px dashed @neutral-color-medium;
			//border-bottom: 1px solid @secondary-color-medium;
			padding: 15px;
			color: mix(@secondary-color-medium, @blog-foreground-color );
			
			&:hover, &:focus{
				background: mix( @blog-foreground-color, @blog-background-color, 10% );
			}
			&:active{
				color: @blog-foreground-color;
				background: mix( @blog-foreground-color, @blog-background-color, 20% );
			}
		}
	}

}
