.post.post-type--blog.view--full{

	border-top: 8px solid @neutral-color-medium;

	.content-wrapper{
		.pad-x-lg;
		margin:20px 0;
	}

	.post-title{

	}

	.time{
		float:right;
		color: @neutral-color-medium;
	}

	.taxonomy.category{
		margin-bottom: 30px; 
	}

	.share-social{
		float:right;
	}

	@media @xs{
		.share-social{
			float:none;
			height: 64px;
		}
	}

	.social-widgets{
		display: inline-block;
		padding: 0;
		-webkit-filter:none;
		.social-widget{
			opacity: 1;

		}
	}

	.post-content{
		padding-top:20px;
	}

}