.edit-post{
  color: @neutral-color-dark;

  .link-format{
    label{
      padding:5px 10px;
      display: inline-block;
    }
    input[type="radio"]{
      display:none;
    }
    input[type="radio"]:checked+label{
      background:@primary-color-dark;
      color:#fff;
    }
  }
}
