///// POST STYLES /////
.post.page{
	border-top:none;
	.post-content{
		//white-space: pre-wrap;
	}
}

.post-content{
	font-size:@font-size-md;
	line-height:1.66;
	font-weight:200;
	color: @neutral-color-light;
	

	img{
		border-radius:@meta-border-radius;
	}

	@media @tablet-and-below{
		.pw-gallery-shortcode{
			margin:0 -20px;
		}
	}

	@media @desktop-and-above{
		padding:40px 40px;
	}

	.block{
		.icon{

		}
	}

	ul{
		list-style: none;
		margin:0;
		padding:0;
		li{
			padding: 14px 0;
			border-top: 1px solid fade(@secondary-color-medium, 33%);
		}
	}

	.wp-caption{
		//background:fade(@neutral-color-light, 50%);
		border-radius:@meta-border-radius;
		border:1px solid @primary-color-light;
		max-width:100%;
		img{
			position:relative;
			left:-1px;
			top:-1px;
			max-width:99%;
			height:auto;
		}
		.wp-caption-text{
			text-align:center;
			padding:2px 5px 7px;
			color:@primary-color-dark;
		}
	}

}

.pw-css-columns-shortcode-row{
	width:100%;
}

///// COLUMNS /////
.columns-3, .columns-2{
	margin-bottom:30px;
}
.columns-3,
.pw-css-columns-shortcode-row.columns-3 {
	.column-gap();
	.column-rule( 1px solid @neutral-color-dark );
	@media @desktop-and-above { .column-count(3); }
	@media @desktop-and-below { .column-count(2); }
	@media @tablet-and-below { .column-count(1); }
}
.columns-2,
.pw-css-columns-shortcode-row.columns-2 { 
	.column-gap();
	.column-rule( 1px solid @neutral-color-dark );
	@media @desktop-and-above { .column-count(2); }
	@media @tablet-and-below { 	.column-count(1); }
}

.post-head, .attachment-head{
	position:relative;
	padding: 20px 20px 0 20px;
	background: @global-background-color;

	@media @desktop-and-above{
		//padding: 0 60px 0 40px;
	}

	.unit{

		i{
			display:inline-block;
			padding:0 3px 0 0;	
		}

		time, a {
			display:inline-block;
			padding:5px 10px;
			border:1px solid transparent;
			color: @global-foreground-color;
			opacity: .5;
			&:hover{
				opacity:1;
			}
		}

		a{
			text-decoration:none;
			&:hover{
				border: 1px solid @global-foreground-color;
			}
		}
	}
}

.post{

	.show-hover{
		display:none;
	}
	&:hover{
		.show-hover{
			display:block;
		}
		.show-hover.inline{
			display:inline-block;
		}
	}

	hr{
		&.thick{
			border-top: 2px @primary-color-dark solid;
		}
	}




}


///// AVATARS /////
.avatar-sm{
	@avatar-size:24px;
	@outline-size:1px;
	@full-height: (@avatar-size + ( @outline-size * 2 ));

	height:@full-height;

	a{
		display: inline-block;
		border:@outline-size solid transparent;
		border-radius:@meta-border-radius;
		height:@full-height;
		text-decoration: none;
		&:hover{
			background:@blue3;
			color: #fff;
		}
	}
	img.avatar-image{
		width:@avatar-size;
		height:@avatar-size;
	}
	span{
		display: inline-block;
		padding:2px 10px 2px 6px;
	}
}



//FEED POST ITEMS

.post{

	// FEED POST HEADERS
	// ============
	h3 {
		a{color:@red2;}
		a:hover{color:@blue2; text-decoration:none;}

		// padding for post content
		margin-bottom:14px;
	}

	blockquote {
		color:@gray6;
		font-style: italic;
	}

	p {
		margin: 0 0 20px;
	}

	&.full .vote_widget{
		margin-top:-24px;
	}

	&.detail .vote_widget,
	&.grid .vote_widget,
	&.list .vote_widget {
		margin-top:-17px;
	}

	.date{
		color:@gray3;
	}

	.media-embed{

		&.video iframe{
			width:100%;
			height:360px;
		}
		&.audio iframe{
			width:100%;
			//height:120px;
		}
		.loading{
			padding:20px;
			text-align:center;
			font-size:24px;
		}
		.o-embed{
			line-height:0; 
		}
	}

	// VOTE WIDGET
	.widget-vote{
		position:relative;
		width:56px;
		height:56px;
		float:left;
		//clear:both;
		// offsets top to line up with header
		margin-bottom:10px;

		text-align:center;
		font-size:18px;
		
		button{
			width:100%;
			height:50%;
			margin:0;
			border: 0px transparent;
			outline:none;
			background:none;
			color: #777;
			font-size:32px;
			line-height:32px;
		}

		// hover colors
		button.up:hover {
			color:@blue3;
		}
		button.down:hover {
			color:@red1;
		}

		button.selected{
			color:#000;
		}

		// vote count
		div {
			position:absolute;
			z-index:2;
			top:43%;
			width:100%;
			.user-select;
			}
	}


	.post-content{
		.alignleft{
			margin:10px 30px 30px 0;
			float:left;
		}

		.alignright{
			margin:10px 0px 30px 30px;
			float:right;
		}

		.aligncenter{
			margin:auto;
			margin-top:30px;
			margin-bottom:40px;
			display:block;
		}
	}

	

}


// THERE WAS AN EXTRA } HERE - DELETED IT, NOT SURE

.post .post_actions {
	float:right;
	margin:0 10px 10px 0;

	button.selected{
		background:#444;
		color:#fff;
	}
}


// top right user interactions

.post {
	.interactions, header .dropdown {
		.transition();
		//transition:@global-transition-time all ease;
		opacity:0;
	}
}

.post:hover{
	.interactions, header .dropdown {
		opacity:1;
	}
}


.post.full{
	.interactions, header .dropdown {
		opacity:1;
	}
}


.interactions{
	.pull-right;

	// link colors
	button {
		background:#fff;
		border:1px solid transparent;
		color:#777;
		margin: 5px 5px 0 0;
		padding:2px 10px;
		outline:none;
	}
	button:hover {
		.transition;
	}

	// HOVER
	button.favorites:hover {
		color:@blue2;
		border-color:@blue3;
	}
	button.view_later:hover {
		color:@green2;
		border-color:@green3;
	}
	button.share:hover {
		color:@aqua2;
		border-color:@aqua3;
	}
	button.edit:hover {
		color:@gray8;
		border-color:@gray6;
	}

	&.open button.edit,
	.open button.edit{
		background:@gray5;
		color:#fff;
	}

	// SELECTED
	button.favorites.selected{
		background:@blue3;
		color:#fff;
	}
	button.view_later.selected{
		background:@green3;
		color:#fff;
	}

	button.view_later, button.favorites {
		[class^='icon-']{
			width:14px;
			display:inline-block;
		}
	}
	.open button.share{
		background:@aqua2;
		color:#fff;
	}
	.share-dropdown{
		padding:15px;
		min-width:300px;
		border-top:4px solid @aqua2;
		border-color:@aqua2;
		color:@aqua1;
		background:#f2f2f2;
		div{
			font-weight:bold;
			font-size:15px;
		}
		input{
			width:100%;
			margin:5px 0;
		}
		span{
			font-size:15px;
		}
	}



	.icon-time{}
	.icon-star-empty{}
	.icon-mail-forward{}
}


.feature{
	.thumbnail{
		margin:0 !important;
		width:100%;
		height: 180px;
		background-size:cover;
		background-position:center !important;
		position:absolute;
		top:0;
		right:0;
		width:100%;
		min-height:180px;
		z-index:1;
	}
}




@event_block_height : 100px;

.post .event, .post.event {
	

	.details{
		background:@gray1;
		border:1px solid @gray3;
		min-height:@event_block_height;
		box-sizing:border-box;
		font-size:15px;
		color:@gray7;
	}

	.date_block{
		float:left;
		box-sizing:border-box;
		padding:12px;
		margin:0 15px 0 0;
		text-align: center;
		background: @aqua2;
		color:#fff;
		
		.month{
			font-size:13px;
			line-height:15px;
			letter-spacing:0px;
			font-weight:100;
		}

		.date{
			font-size:50px;
			line-height:39px;
			font-weight: 900;
			letter-spacing:2px;
		}

		.year{
			font-size:24px;
			line-height:21px;
			letter-spacing:1px;
		}

	}

	.post_excerpt, .event_meta{
		display: block;
		padding:0 30px 20px 105px;
		line-height:20px;
		b{
			color:@gray5;
			display: block;
			margin-top: 11px;
			margin-bottom: 5px;
		}

	}

}

.post.full .event{
	.date_block{
		border-radius: @meta-border-radius;
	}
	.details{
		font-size:18px;
		border:0;
		background:none;
	}
	.event_meta{
		line-height:24px;
		padding: 0 30px 0px 110px;
	}
	[class^="icon-"]{
		width:18px;
		text-align: center;
		display: inline-block;
	}
}


.post.list .event, .post.grid .event{
	.event_meta{
		padding:0;
	}

	.date_block{
		float:right;
	}


}


.date_block{
	height:auto;
	padding:8px 12px;
	border-radius: @meta-border-radius;

	.month{
		font-size:13px;
		line-height:15px;
		letter-spacing:0px;
		font-weight:100;
	}

	.date{
		font-size:18px;
		line-height:20px;
		font-weight: 900;
		letter-spacing:2px;
	}

	.year{
		font-size:15px;
		line-height:12px;
		letter-spacing:1px;
	}
}




///// POST ELEMENTS /////

[class^="post_"]{
}

.post_title {
	font-size:18px;
	font-weight:500;
	color:@red2;
	margin-top:5px;
}

.post.full, .post.detail{
	.post_title{
		padding-left:60px;
	}
}

h5.post_title {
	font-size:15px;
	font-weight:500;
	color:@red2;
}


.post_excerpt {
	//font-size: 18px;
	font-weight: 400;
	line-height: 22px;
}