.post.view-list{
	@mid-color: mix( @global-foreground-color, @primary-color-medium, 50% );
	width:100%;
	position: relative;
	margin:0;
	background: @global-background-color;
	
	&.current-post{
		a{
			color: @secondary-color-light;
			background: @secondary-color-dark;
		}
	}

	a{
		border-top:1px solid fade(@mid-color, 15%);
		text-decoration: none;
		display: block;
		padding:0;
		background-color: @global-background-color;
		&:hover{
			//border-top:1px solid fade(@mid-color, 50%);
			//color: @global-foreground-color;
			//background-color: mix( @global-background-color, @primary-color-medium, 75% );
		}
	}

	h3{
		margin:0;
		padding:10px 10px 10px 20px;
		font-size:@font-size-sm;
	}

	.thumb-cell{
		display:table-cell;
		width:64px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.title-cell{
		display:table-cell;
		height:100%;
		vertical-align:middle;
	}

	.details{
		position: absolute;
		display: none;
		right: 0;
		bottom: 0;
		padding: 10px 20px;
		width:100%;
		background: @global-background-color;
		.tooltip{
			float:right;
			width:auto;
		}
	}

	&:hover{
		.details{
			display:block;
		}

		img.thumb{
			opacity: 1;
		}
	}

	&.page{
		padding:0;
		h2{
			margin-bottom:0px;
		}
		div{
			padding:0;
		}
	}

	.color-overlay{
		transition: opacity @global-transition-time ease;
		position: absolute;
		pointer-events: none;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
		background-color: fade( @highlight-foreground-color, 100% );
	}
	a{
		border-bottom: 0;
		&:hover, &:focus{

			.color-overlay{
				opacity: .15;
				transition-duration: @global-transition-time;
			}
		}
		&:active{
			.color-overlay{
				opacity: .5;
				transition-duration: @global-transition-time;
			}
		}
	}

}

.post.view-list-h2o{
	width:100%;
	position: relative;

	a{
		.transition();
		display:block;
		margin: 0 10px 10px 0;
		border:2px solid transparent;
		border-radius: @border-radius-sm;
		overflow: hidden;

		&:hover, &:active{
			text-decoration: none;
			border:2px solid @global-foreground-color;
			h2{
				background: fade( @global-foreground-color, 80% );
				color: @global-background-color;
				
			}
		}
	}
	.gradient-overlay{
		.fill-space();
		.gradient-2-color( 165deg, fade(@global-background-color,66%), 25%, fade(@global-background-color,0%), 75% );
		z-index: 1;
		margin: 1px;
	}
	.background-image{
		min-height:200px;
		background-size: cover;
		background-position: center; 
		background-repeat: no-repeat;
	}
	h2{
		background: fade( @global-background-color, 50% );
	}
	h2, .post-excerpt{
		.transition();
		position: relative;
		z-index: 2;
		display:inline-block;
		padding: 10px 20px;
		margin: 10px 10px 0;
		color: @global-foreground-color;
		border-radius: @border-radius-sm;
	}
	.post-excerpt{
		margin-top: 0;
		padding: 5px 20px;
	}

}
