///// FEED POST /////
masonry{
  display:block;
}

@media @desktop-and-above { .grid-sizer-mix( 100%/4 ); }
@media @desktop-and-below { .grid-sizer-mix( 100%/3 ); }
@media @tablet-and-below {  .grid-sizer-mix( 100%/2 ); }
@media @mobile {            .grid-sizer-mix( 100%/1 ); }
@media @full {              .grid-sizer-mix( 100%/5 ); }

.masonry-brick{
  .feed-post, .post{
    height:100%;
  }
}


.grid.view .feed-item{

  transition:none;
  float:left;
  display:block;
  //border:1px solid transparent;
  &:hover{
    //border:1px solid @secondary-color-medium;
  }

  @margin:0.25%;
  //width:(100%/3)-(@margin*2);

  margin:0px;
  //margin-bottom:10px;

  /*
  @media @desktop-and-up{
    @margin:0.25%;
    width:(100%/3)-(@margin*2);
    margin:@margin;
  }

  @media @tablet-and-below{
    @margin:0.25%;
    width:(100%/2)-(@margin*2);
    margin:@margin;
  }

  @media @mobile{
    width:100%;
    margin:0%;
  }
  */

}

///// GRID & HORIZONTAL GRID /////
.post.grid {
  @transition-time: @global-transition-time;

  @grid-width: 100%;
  @grid-height: 240px;

  @grid-dropshadow-off: 0px 0px 0px fade(@secondary-color-dark, 0%);
  @grid-dropshadow-on:  0px 0px 0px fade(@secondary-color-dark, 50%);

  //width: @grid-width;
  //height: @grid-height;

  position:relative;

  display:block;
  transition: none;

  border: 2px solid transparent;  // Make this a theme variable
  transition:opacity 1s ease;     // Make this a theme variable


  box-shadow: @grid-dropshadow-off;
  &:hover{
    box-shadow: @grid-dropshadow-on;
  }


  .grid-image{
    position:absolute;
    width: 100%;
    height: 100%; //@grid-height;
    background-position:center;
    background-size:cover;
    //-webkit-filter: grayscale(33%);

  }

  &:hover{
    .grid-image{
      //-webkit-filter: grayscale(0%);
    }
  }

  .grid-info{
    background:fade( @primary-color-dark, 80% );
    display:block;
    position:absolute;
    bottom:0;
    width:100%;
    padding:15px 30px;
    color:@global-foreground-color;
    //transition:all @transition-time ease;
  }

  &:hover{
    .grid-info{
      background:fade( @primary-color-dark, 60% );
    }
  }

  h2{
    padding:0;
    margin:0;
    font-size:18px;
    //font-family:inherit;
  }

  a{
    color:@global-foreground-color;
  }

  .details{
    transition:@transition-time ease max-height;
    background:fade( @primary-color-dark, 100% );
    color:#fff;
    width:100%;
    max-height:0px;
    position:absolute;
    z-index:3;
    //top:@grid-height;
    //top:100%;
    bottom:0;
    overflow:hidden;
    box-sizing:border-box;
    //border:1px solid transparent;
    border-top:none;
    box-shadow: @grid-dropshadow-off;
  }
  &:hover{
    .details{
      max-height:@grid-height;
      //border:1px solid @secondary-color-medium;
      border-top:none;
      box-shadow: @grid-dropshadow-on;
    }
  }
  .post-wrapper.hover{
    .details{
      // Allow overflow for dropdown menus
      overflow:visible;
    }
  }

  .post_excerpt{
    padding:20px 30px;
    overflow: hidden;
    //transition:all 0.33s ease;
  }

  .overlay{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
    transition:opacity ease @transition-time;
  }

  &:hover{
    .overlay{
      background-color:fade( @primary-color-dark, 33% );
    }
  }

  .link-format-indicator{
    i{
      line-height:1;
    }

    &.standard, &.video{
      opacity:0.75;
      transition:.33s ease opacity;
    }

  }

  &:hover .link-format-indicator{
      &.standard, &.video{
        opacity:1;
        button{
          background:fade(@secondary-color-medium, 100%);
        }
      }
    }

  .post-controls{
    display:block;
    margin:auto;
    position:absolute;
    z-index:5;
    top:0;
    right:0;
    
  }

  .link-format-indicator{
    display:inline-block;
    margin:auto;
    position:relative;
    z-index:5;
    
    &.video{
      top:30%;
      //left:0%;
      button{
        font-size:40px;
      }
    }
    &.standard{
      bottom:0;
      right:0;
     
    }
    

    button{
      
      color:#fff;
      background:transparent;
      line-height: 1;
      background:fade(@secondary-color-dark, 100%);
      padding:5px 10px 8px;
      transition: .33s ease all;
      

    }
    

  }



}

.post.grid-horizontal{
  margin-top:20px;
}
