.post.view--full{
	padding-bottom:30px;

	.parent-post-link{
		cursor: pointer;	
		a{
			opacity: .66;
		}
	}
	.post-title{
		a{
			text-decoration: none;
			&:hover{
				border-bottom: 1px solid @global-foreground-color;
			}
		}
	}
	
	.link.unit{
		@media @md-up{
			float:right;
		}
	}

	.time{
		margin-top: 21px;
		float:left;
	}

	@media @md-down{
		.download,.time{
			display: none;
		}
	}

	.post-title{
		a{
			color: @global-foreground-color;
		}
	}

	.post-content{
		//background: @global-background-color;
		//padding:60px;
		padding-top:30px;
		padding-bottom:30px;
		margin-bottom:0 !important;
	}

	.social-widgets{
		display:block;
		padding-top:20px;
		padding-bottom:20px;
		filter:grayscale(1);
		-webkit-filter:grayscale(1);
		//background: fade( @global-background-color, 50% );

		.social-widget{
			opacity:.5;
		}
		&:hover{
			.social-widget{
				opacity:1;
			}
		}

		&:hover{
			opacity:1;
			filter:grayscale(0);
			-webkit-filter:grayscale(0);
		}

		@media @lg-up{
			//padding:20px 40px;
		}
	}

}