<article
	pw-feed-post
	class="post view--list-h2o pw-transition-fadein"
	pw-timeout="{{ post.feed.order }}"
	timeout-multiplier="333"
    timeout-action="addClass('fadein-on')">
    <a href="{{ post.post_permalink }}">
	    <div
	    	class="background-image"
	    	style="background-image:url({{ post.image.sizes.lg.url }});">
				<h2>
					<i class="{{ post.post_meta.pw_meta.icon.class }}"></i>
					{{ post.post_title }}
				</h2>
			{% if post.post_excerpt %}
				<br>
				<div class="post-excerpt">
					{{ post.post_excerpt }}
				</div>
			{% endif %}
	    </div>
    </a>
</article>