<article
	pw-feed-post
	class="post view-list-h2o post-type--{{post.post_type}} pw-transition-fadein"
	pw-timeout="{{ post.feed.order }}"
	timeout-multiplier="333"
    timeout-action="addClass('fadein-on')">
    <a href="{{ post.post_permalink }}" target="{{post.post_meta.artdroid_link_target}}">
	    <div
	    	class="background-image"
	    	style="background-image:url({{ post.image.sizes.lg.url }});">
	    	<div class="gradient-overlay"></div>
			<h2>
				{% if post.post_meta.artdroid_meta.icon.class %}
					<i class="icon {{ post.post_meta.artdroid_meta.icon.class }}"></i>
				{% endif %}
				{{ post.post_title }}
			</h2>
			{% if post.post_excerpt %}
				<br>
				<div class="post-excerpt">
					{{ post.post_excerpt }}
				</div>
			{% endif %}

	    </div>
    </a>
</article>