<div pw-globals="pw">
	<style
		pw-style-colors="colorStyles"
		color-profiles="post.image.colors"
		color-profiles-dynamic
		color-profiles-enable="pw.options.theme.colors.views.single.dynamic_colors">
	</style>
	<div
		class="modal-head"
		ng-if="pw.options.theme.modals.header.show">
		<div
			class="pull-left">
			<!-- TITLE -->
			<button
				class="transparent"
				ng-click="close()">
				<span>
					<i class="pwi-angle-left-thin"></i>
				</span>
				<span class="close-compact">Back</span>
				<span class="close-full" ng-bind-html="pw.view.title"></span>
			</button>
		</div>
		<!-- MODAL HEADER IMAGE -->
		<div theme-modal-header-image class="header-image">
			<img
				pw-smart-image="modalHeaderImage.image"
				smart-image-dynamic
				style="height:64px; float:left;">
		</div>
		<div
			class="pull-right">
			<!-- PREVIOUS POST -->
			<button
				ng-click="previousPost()"
				class="btn-previous transparent"
				ng-mouseover="uiToggleView('prevPost')"
				ng-mouseout="uiToggleView('prevPost')">
				<i
					ng-if="!uiShowView('prevPost')"
					class="icon pwi-triangle-left-thin"></i>
				<i
					ng-if="uiShowView('prevPost')"
					class="icon pwi-triangle-left-fill"></i>
			</button>
			<!-- NEXT POST -->
			<button
				ng-click="nextPost()"
				class="btn-next transparent"
				ng-mouseover="uiToggleView('nextPost')"
				ng-mouseout="uiToggleView('nextPost')">
				<i
					ng-if="!uiShowView('nextPost')"
					class="icon pwi-triangle-right-thin"></i>
				<i
					ng-if="uiShowView('nextPost')"
					class="icon pwi-triangle-right-fill"></i>
			</button>
		</div>
	</div>
	<div
		pw-post
		post-required-fields="['gallery(ids,posts)', 'post_content', 'post_meta(all)', 'time_ago', 'edit_post_link']"
		require-required="false"
		art-post
		ng-keypress="keyPress()"
		class="post view-full pw-transition-fadein wrapper"
		pw-timeout="200"
		timeout-action="addClass('fadein-on')"
		pw-ui>
		<!-- IMAGE -->
		<div
			class="media-viewer post-image"
			ng-class="imageFormat(post)"
			pw-height="{{::pw.options.theme.posts.images.height.method}}"
			height-value="{{::pw.options.theme.posts.images.height.value}}"
			ng-if="showView('modalImage')"
			pw-x-scroll-status>
			<div
				class="view-image"
				ng-if="imageFormat(post) == 'standard'"
				pw-smart-image="post.image"
				smart-image-min-height="512"
				smart-image-dynamic>
				<div
					class="nav-hover-area area-left"
					ng-click="previousPost()"
					ng-if="::uiBoolean(modalFeed)">
					<button class="btn-previous">
						<i class="pwi-triangle-left-thin"></i>
					</button>
				</div>
				<div
					class="nav-hover-area area-right"
					ng-click="nextPost()"
					ng-if="::uiBoolean(modalFeed)">
					<button class="btn-next">
						<i class="pwi-triangle-right-thin"></i>
					</button>
				</div>
			</div>
			<!-- SCROLL INDICATOR -->
			<div
				class="scroll-indicator"
				pw-device-class>
				<div class="message-scroll">
					<span class="text">Scroll</span>
					<i class="icon pwi-arrow-right-thin"></i>
				</div>
				<div class="message-slide">
					<i class="icon pwi-arrow-left-thin"></i>
					<span class="text">Slide</span>
				</div>
			</div>
			<!-- PANORAMA -->
			<img
				ng-if="imageFormat(post) == 'panorama'"
				class="view-image"
				pw-smart-image="post.image"
				smart-image-min-width="1200"
				smart-image-dynamic>
		</div>
		<!-- FRAME GALLERY -->
		<div
			pw-include="galleries/gallery-frame"
			include-post="post"
			include-vars="{keybind:showView('galleryFrame')}"
			ng-if="showView('galleryFrame')">
		</div>
		<!-- GALLERY : HORIZONTAL -->
		<!-- HORIZONTAL GALLERY -->
		<div
			pw-include="galleries/gallery-horizontal"
			include-post="post"
			include-enable="showView('galleryHorizontal')"></div>
		<!-- EMBED -->
		<div
			class="media-viewer"
			pw-height="{{::pw.options.theme.posts.embeds.height.method}}"
			height-value="{{::pw.options.theme.posts.embeds.height.value}}"
			ng-if="showView('modalEmbed')">
			<div
				class="view-embed">
				<div
					class="o-embed"
					o-embed="{{ post.post_meta.artdroid_link_url }}"
					embed-autoplay="showView('autoplayEmbed')"
					embed-run="showView('modalEmbed')">
				</div>
			</div>
		</div>
		<div class="post-modal-body page-width">
			<div
				ng-if="post.post_type != 'attachment'"
				pw-include="panels/modal-post-head"
				include-post="post">
			</div>
			<div
				ng-if="post.post_type == 'attachment'"
				pw-include="panels/modal-attachment-head"
				include-post="post">
			</div>
			<div class="clearfix"></div>
			<!-- POST CONTENT -->
			<div
				class="post-content columns-{{ post.post_meta.artdroid_meta.post_content.columns }} pad-x-lg"
				ng-hide="!uiBool(post.post_content)&&!uiBool(post.post_excerpt)">
				<div
					ng-if="uiBool(post.post_content)"
					pw-compile-code="post.post_content">
				</div>
				<!-- SHOW POST EXCERPT IF NO POST CONTENT -->
				<div
					ng-if="!uiBool(post.post_content) && uiBool(post.post_excerpt) && post.post_type != 'attachment'"
					ng-bind="post.post_excerpt">
				</div>
			</div>
			<!-- VERTICAL GALLERY -->
			<div
				pw-include="galleries/gallery-vertical"
				include-post="post"
				include-enable="showView('galleryVertical')"
				include-vars="{yScrollContainer:'.modal-view-post'}"
				class=""></div>
			<!-- WRAPPER (Cloak until loaded) -->
			<div
				ng-cloak ng-hide="status=='loading'"
				class="pw-transition-fadein wrapper"
				pw-timeout="333"
				timeout-action="addClass('fadein-on')">
			</div>
			<!-- END WRAPPER -->
			<div class="clearfix"></div>
			<!-- SOCIAL WIDGETS -->
			<div
				class="social-widgets pad-x-lg"
				ng-if="post.post_status == 'publish' && post.post_type != 'attachment'">
				<div pw-compile-code="getTemplatePartial({ partial:'viewPost.social.widgets', vars: { post_id: post.ID }, id: post.ID })"></div>
			</div>
			<div class="space-8"></div>
		</div>
	</div><!-- END POST -->
</div>