<div pw-globals="pw">
	<style
		pw-style-colors="colorStyles"
		color-profiles="post.image.colors"
		color-profiles-dynamic
		color-profiles-enable="pw.options.theme.colors.views.single.dynamic_colors">
	</style>
	<div
		class="modal-head"
		ng-show="pw.options.theme.modals.header.show">
		<div
			class="pull-left">
			<!-- TITLE -->
			<button
				class="transparent"
				ng-click="close()">
				<span>
					<i class="pwi-angle-left-thin"></i>
				</span>
				<span class="close-compact">Back</span>
				<span class="close-full" ng-bind-html="pw.view.title"></span>
			</button>
		</div>

		<!--
			ADD HEADER LOGO IMAGE HERE
			- USE CUSTOM DIRECTIVE
			- PASS IMAGE URL THROUGH GLOBAL PWSITELGOBALS OPTIONS
		-->

		<div
			class="pull-right">
			<!-- PREVIOUS POST -->
			<button
				ng-click="previousPost()"
				class="btn-previous transparent"
				uib-tooltip="Previous"
				tooltip-placement="bottom"
				tooltip-popup-delay="1000"
				ng-mouseover="uiToggleView('prevPost')"
				ng-mouseout="uiToggleView('prevPost')">
				<i
					ng-show="!uiShowView('prevPost')"
					class="icon pwi-triangle-left-thin"></i>
				<i
					ng-show="uiShowView('prevPost')"
					class="icon pwi-triangle-left-fill"></i>
			</button>
			<!-- NEXT POST -->
			<button
				ng-click="nextPost()"
				class="btn-next transparent"
				uib-tooltip="Next"
				tooltip-placement="bottom"
				tooltip-popup-delay="1000"
				ng-mouseover="uiToggleView('nextPost')"
				ng-mouseout="uiToggleView('nextPost')">
				<i
					ng-show="!uiShowView('nextPost')"
					class="icon pwi-triangle-right-thin"></i>
				<i
					ng-show="uiShowView('nextPost')"
					class="icon pwi-triangle-right-fill"></i>
			</button>
		</div>
	</div>

	<div
		pw-post
		post-required-fields="['gallery(ids,posts)', 'post_content', 'post_meta(all)', 'time_ago', 'edit_post_link']"
		require-required="false"
		art-post
		ng-keypress="keyPress()"
		class="post view--full pw-transition-fadein wrapper page-width"
		pw-timeout="200"
		timeout-action="addClass('fadein-on')"
		pw-ui>

		<!-- IMAGE -->
		<div
			class="media-viewer post-image"
			ng-class="imageFormat(post)"

			pw-height="{{::pw.options.theme.posts.images.height.method}}"
			height-value="{{::pw.options.theme.posts.images.height.value}}"

			ng-show="showView('modalImage')"
			pw-x-scroll-status>

			<div
				class="view-image"
				ng-show="imageFormat(post) == 'standard'"
				pw-smart-image="post.image"
				smart-image-min-height="512"
				smart-image-dynamic>
				<div
					class="nav-hover-area area-left"
					ng-click="previousPost()"
					ng-show="::uiBoolean(modalFeed)">
					<button class="btn-previous">
						<i class="pwi-triangle-left-thin"></i>
					</button>
				</div>
				<div
					class="nav-hover-area area-right"
					ng-click="nextPost()"
					ng-show="::uiBoolean(modalFeed)">
					<button class="btn-next">
						<i class="pwi-triangle-right-thin"></i>
					</button>
				</div>
			</div>

			<!-- SCROLL INDICATOR -->
			<div
				class="scroll-indicator"
				pw-device-class>
				<div class="message-scroll">
					<span class="text">Scroll</span>
					<i class="icon pwi-arrow-right-thin"></i>
				</div>
				<div class="message-slide">
					<i class="icon pwi-arrow-left-thin"></i>
					<span class="text">Slide</span>
				</div>
			</div>

			<!-- PANORAMA -->
			<img
				ng-show="imageFormat(post) == 'panorama'"
				class="view-image"
				pw-smart-image="post.image"
				smart-image-min-width="1200"
				smart-image-dynamic>

		</div>

		<!-- FRAME GALLERY -->
		<div
			pw-include="galleries/gallery-frame"
			include-post="post"
			include-vars="{keybind:showView('galleryFrame')}"
			ng-show="showView('galleryFrame')"
			class="full-page-width">
		</div>

		<!-- GALLERY : HORIZONTAL -->
		<!-- HORIZONTAL GALLERY -->
		<div
			pw-include="galleries/gallery-horizontal"
			include-post="post"
			include-enable="showView('galleryHorizontal')"
			class="full-page-width"></div>

		<!-- EMBED -->
		<div
			class="media-viewer"

			pw-height="{{::pw.options.theme.posts.embeds.height.method}}"
			height-value="{{::pw.options.theme.posts.embeds.height.value}}"

			ng-show="showView('modalEmbed')">
			<div
				class="view-embed">
				<div
					class="o-embed"
					o-embed="{{ post.link_url }}"
					embed-autoplay="showView('autoplayEmbed')"
					embed-run="showView('modalEmbed')">
				</div>

			</div>
		</div>

		<div class="post-head pad-x-lg">

			<div
				ng-show="!pw.options.theme.modals.header.show"
				class="modal-controls pull-right">
				<button
					class="btn-neutral-color"
					uib-tooltip="Previous"
					tooltip-popup-delay="333"
					ng-click="previousPost()">
					<i class="pwi-arrow-left-thin"></i>
				</button>
				<button
					class="btn-neutral-color"
					uib-tooltip="Next"
					tooltip-popup-delay="333"
					ng-click="nextPost()">
					<i class="pwi-arrow-right-thin"></i>
				</button>
				<button
					class="btn-neutral-color"
					uib-tooltip="Close"
					tooltip-popup-delay="333"
					ng-click="close()">
					<i class="pwi-close"></i>
				</button>
			</div>

			<div class="pull-left">
				<!-- TITLE -->
				<h1 class="post-title">
					<a ng-href="{{ post.post_permalink }}">
						<i ng-show="uiBool(post.post_meta.pw_meta.icon.class)" class="icon {{post.post_meta.pw_meta.icon.class}}"></i>
						{{ post.post_title }}
					</a>
				</h1>
				
				<!-- CATEGORIES -->
				<div class="taxonomy categories" ng-show="uiBoolean(post.taxonomy.category)">
					<span ng-repeat="term in post.taxonomy.category">
					    <a pw-href="term.url" class="term category">
							<span ng-bind="term.name"></span>
						</a>
					</span>
				</div>

				<!-- TAGS -->
				<div class="taxonomy tags" ng-show="uiBoolean(post.taxonomy.post_tag)">
					<i class="icon pwi-tags"></i>
					<span ng-repeat="term in post.taxonomy.post_tag">
					    <a pw-href="term.url" class="term tag">
							<span ng-bind="term.name"></span>
						</a>
					</span>
				</div>

				<!-- TIME -->
				<div
					class="time unit pull-left"
					uib-tooltip="{{ post.post_timestamp*1000 | date:'fullDate' }}"
					tooltip-popup-delay="333">
					<time datetime="{{ post.post_date }}">
						{{ post.time_ago }}
					</time>
				</div>
				
			</div>

			<div class="pull-right">
				
				<!-- POST CONTROLS -->
				<div
					pw-include="panels/post-controls"
					include-post="post"
					include-eval="isLoggedIn()&&!isDevice(['mobile'])"
					class="pull-right">
				</div>

				<!-- SHARE SOCIAL -->
				<div class="module share-social pull-right">
					<div pw-compile-code="getTemplatePartial({ partial:'viewPost.social.shareLinks', vars: post, id: post.ID })"></div>
				</div>

				<!-- DOWNLOAD -->
				<div
					class="download unit pull-right"
					ng-show="showView('downloadSingleImage')">
					<a download pw-href="post.image.sizes.full.url">
						<i class="pwi-arrow-down-thin"></i>
					</a>
				</div>

				<!-- LINK -->
				<div
					class="link unit"
					ng-class="{ 'highlight-color': post.post_meta.pw_meta.link_url.label.highlight }"
					ng-show="post.post_meta.pw_meta.link_url.label.show == true || post.post_meta.pw_meta.link_url.label.show == 'custom' && post.link_url && post.link_format == 'link'"
					uib-tooltip="{{ post.post_meta.pw_meta.link_url.label.tooltip.custom }}"
					tooltip-popup-delay="333">
					<a
						pw-href="post.link_url"
						pw-target="post.post_meta.pw_meta.link_url.new_target">
						<i class="pwi-crosshairs"></i>
						{{ post.post_meta.pw_meta.link_url.label.custom }}
					</a>
				</div>

			</div>

			<div class="clearfix"></div>

		</div>

		<div class="clearfix"></div>

		<!-- POST CONTENT -->
		<div
			class="post-content columns-{{ post.post_meta.pw_meta.post_content.columns }} pad-x-lg"
			ng-hide="!uiBool(post.post_content)&&!uiBool(post.post_excerpt)">
			<div
				ng-show="uiBool(post.post_content)"
				pw-compile-code="post.post_content">
			</div>
			<!-- SHOW POST EXCERPT IF NO POST CONTENT -->
			<div
				ng-show="!uiBool(post.post_content) && uiBool(post.post_excerpt)"
				ng-bind="post.post_excerpt">
			</div>
		</div>

		<!-- VERTICAL GALLERY -->
		<div
			pw-include="galleries/gallery-vertical"
			include-post="post"
			include-enable="showView('galleryVertical')"
			include-vars="{yScrollContainer:'.modal-view-post'}"
			class=""></div>

		<!-- WRAPPER (Cloak until loaded) -->
		<div
			ng-cloak ng-hide="status=='loading'"
			class="pw-transition-fadein wrapper"
			pw-timeout="333"
			timeout-action="addClass('fadein-on')">

		</div>
		<!-- END WRAPPER -->
		
		<div class="clearfix"></div>

		<!-- SOCIAL WIDGETS -->
		<div
			class="social-widgets pad-x-lg"
			ng-show="post.post_status == 'publish' || post.post_type == 'attachment'">
			<div pw-compile-code="getTemplatePartial({ partial:'viewPost.social.widgets', vars: { post_id: post.ID }, id: post.ID })"></div>
		</div>

		<div class="space-8"></div>

	</div><!-- END POST -->
</div>