<div
	pw-feed-post
	pw-modal-access
	class="post grid pw-transition-fadein"
	pw-grid-item
	pw-timeout="{{ (post.feed.loadOrder * 100) }}"
	timeout-action="addClass('fadein-on')"
	ng-hide="post.post_status == 'trash'"
	pw-ui
	ng-cloak>
	<div
		class="post-wrapper"
		pw-hover-class="hover"
		hover-on-delay="100"
		hover-off-delay="0">
		<a
			href="{{ post.post_permalink }}"
			ng-click="openModal({ mode:'feed', post:post })"
			prevent-default-click>
			<div
				class="grid-image"
				pw-smart-image="::post.image"
				smart-image-override="::post.image.alt">
			</div>
			<div
				class="color-overlay"
				ng-style="::{background:getHex(post,'dynamic.75')}">
			</div>
			<div class="overlay">
				<div
					class="link-format-indicator"
					ng-class="post.link_format">
					<div ng-show="post.link_format == 'video'">
						<button class="btn video">
							<i class="pwi-triangle-right-fill"></i>
						</button>
					</div>
					<div ng-show="post.link_format == 'audio'">
						<button class="btn audio">
							<i class="pwi-headphones"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="grid-info">
				<h2>{{ post.post_title }}</h2>
			</div>
		</a>
		<div
			class="details"
			ng-style="::{background:getHex(post,'dynamic.25')}">
			<div class="details-inner">
				<span class="time">{{ post.time_ago }}</span> 
				<span class="post-excerpt" ng-show="post.post_excerpt">
					<span class="span-spacer"> • </span>
					{{ post.post_excerpt }}
				</span>
				<!-- TAGS -->
				<div
					class="taxonomy category"
					ng-show="uiBoolean(post.taxonomy.category)">
					<span ng-repeat="term in post.taxonomy.category">
						<a href="{{term.url}}" ng-class="term.slug" class="term category">{{term.name}}</a>
					</span>
				</div>
				
				<!--///// POST CONTROLS /////-->
				<div class="post-controls">
					<!-- LINK -->
					<a
						ng-href="{{ post.post_permalink }}"
						class="btn"
						stop-propagation-click
						tooltip="link"
						tooltip-placement="top"
						tooltip-popup-delay="500">
						<i class="pwi-link"></i>
					</a>
					<br>
					<!-- DROPDOWN -->
					<span
						dropdown
						pw-admin-post-menu
						ng-show="userOptions != 0"
						class="admin-menu dropdown">
						<button
							prevent-default-click
							dropdown-toggle
							class="edit-post"
							style="border:none"
							tooltip="edit"
							tooltip-placement="top"
							tooltip-popup-delay="500">
							<i class="pwi-merkaba"></i>
						</button>
						<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel" >
							<li prevent-default-click ng-repeat="item in userOptions">
								<button ng-click="menuAction(item.action)"><i ng-class="item.icon"></i> <span ng-bind="item.name"></span></button>
							</li>
						</ul>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>