<article
	ng-cloak
	class="post view--list pw-transition-fadein"
	pw-timeout="{{ ::(post.feed.loadOrder * 200) }}"
    timeout-action="addClass('fadein-on')">
    <a
		href="{{ ::post.post_permalink }}">
			<div class="wrap" style="display:table; min-height:64px;">
				<div
					class="thumb-cell"
					pw-smart-image="::post.image"
					ng-show="{{ ::post.image.sizes.full.url != null }}">
				</div>
				<div class="title-cell">
					<h3>{{ ::post.post_title }}</h3>
				</div>
			</div>
		<div class="clearfix"></div>
	</a>
</article>