<div
	pw-globals="pw">

	<div
		pw-ui
		class="modal-head"
		ng-show="pw.options.theme.modals.header.show">
		<div
			class="pull-left">
			<!-- TITLE -->
			<button
				class="transparent"
				ng-click="close()">
				<span>
					<i class="pwi-angle-left-thin"></i>
				</span>
				<span class="close-compact">Back</span>
				<span class="close-full">{{ pw.view.title }}</span>
			</button>
		</div>
		<div
			class="pull-right">
			<!-- PREVIOUS POST -->
			<button
				ng-click="previousPost()"
				class="btn-previous transparent"
				tooltip="Previous"
				tooltip-placement="bottom"
				tooltip-popup-delay="1000"
				ng-mouseover="uiToggleView('prevPost')"
				ng-mouseout="uiToggleView('prevPost')">
				<i
					ng-show="!uiShowView('prevPost')"
					class="pwi-triangle-left-thin"></i>
				<i
					ng-show="uiShowView('prevPost')"
					class="pwi-triangle-left-fill"></i>
			</button>
			<!-- NEXT POST -->
			<button
				ng-click="nextPost()"
				class="btn-next transparent"
				tooltip="Next"
				tooltip-placement="bottom"
				tooltip-popup-delay="1000"
				ng-mouseover="uiToggleView('nextPost')"
				ng-mouseout="uiToggleView('nextPost')">
				<i
					ng-show="!uiShowView('nextPost')"
					class="pwi-triangle-right-thin"></i>
				<i
					ng-show="uiShowView('nextPost')"
					class="pwi-triangle-right-fill"></i>
			</button>
		</div>
	</div>


	<div
		pw-post

		post-required-fields="['gallery(ids,posts)', 'post_content', 'post_meta(all)', 'time_ago', 'edit_post_link']"
		require-required="false"

		art-post
		ng-keypress="keyPress()"

		class="post full pw-transition-fadein wrapper"

		pw-timeout="200"
		timeout-action="addClass('fadein-on')"

		pw-ui>

		<!-- IMAGE -->
		<div
			class="media-viewer"
			style="height:{{pw.options.theme.posts.media.style.height}}vh"
			ng-show="showView('modalImage')">

			<div class="nav-btn-area area-left" ng-click="previousPost()" ng-show="uiBoolean(feed)">
				<button
					class="btn-previous"
					tooltip="Previous (Left Arrow on Keyboard)"
					tooltip-placement="right"
					tooltip-popup-delay="333">
					<i class="pwi-triangle-left-thin"></i>
				</button>
			</div>
			<div class="nav-btn-area area-right" ng-click="nextPost()" ng-show="uiBoolean(feed)">
				<button
					class="btn-next"
					tooltip="Next (Right Arrow on Keyboard)"
					tooltip-placement="left"
					tooltip-popup-delay="333">
					<i class="pwi-triangle-right-thin"></i>
				</button>
			</div>

			<div
				class="view-image"
				ng-style="backgroundImage( post.image.sizes.xlarge.url )">
			</div>

		</div>

		<!-- GALLERY : FRAME -->
		<div
			ng-show="showView('galleryFrame')"
			load-panel="gallery-viewer"
			panel-post="post"
			panel-meta="post.gallery"></div>

		<!-- GALLERY : HORIZONTAL -->
		<!-- HORIZONTAL GALLERY -->
		<div
			pw-include="galleries/gallery-horizontal"
			include-post="post"
			include-enable="showView('galleryHorizontal')"
			class="full-page-width"></div>

		<!-- EMBED -->
		<div
			class="media-viewer"
			style="height:{{pw.options.theme.posts.media.style.height}}vh"
			ng-show="showView('modalEmbed')">
			<div
				class="view-embed">
				<div
					class="o-embed"
					o-embed="{{ post.link_url }}"
					embed-autoplay="showView('autoplayEmbed')"
					embed-run="showView('modalEmbed')">
				</div>

			</div>
		</div>
		
		<!-- PAGE -->
		<div class="page-width">

			<div class="post-head">

				<div
					ng-show="!pw.options.theme.modals.header.show"
					class="modal-controls pull-right">
					<button
						class="btn-neutral-color"
						tooltip="Previous"
						tooltip-popup-delay="333"
						ng-click="previousPost()">
						<i class="pwi-arrow-left-thin"></i>
					</button>
					<button
						class="btn-neutral-color"
						tooltip="Next"
						tooltip-popup-delay="333"
						ng-click="nextPost()">
						<i class="pwi-arrow-right-thin"></i>
					</button>
					<button
						class="btn-neutral-color"
						tooltip="Close"
						tooltip-popup-delay="333"
						ng-click="close()">
						<i class="pwi-close"></i>
					</button>
				</div>


				<div class="pull-left">
					
					<!-- TITLE -->
					<h1 class="post-title">
						<a ng-href="{{ post.post_permalink }}">
							<span class="icon">
								<i
									ng-show="post.post_meta.pw_meta.gallery.template == 'vertical'"
									class="pwi-arrow-down"></i>
								<i
									ng-show="post.post_meta.pw_meta.gallery.template == 'horizontal'"
									class="pwi-arrow-right"></i>
							</span> 
							{{ post.post_title }}
						</a>
					</h1>
					
					<!-- TAGS -->
					<div class="taxonomy" ng-show="uiBoolean(post.taxonomy.post_tag)">
						<div class="tags">
							<i class="pwi-tags"></i>
							<span ng-repeat="term in post.taxonomy.post_tag">
							    <a pw-href="term.url" class="term tag">
									<span ng-bind="term.name"></span>
								</a>
							</span>
						</div>
					</div>

				</div>



				<div class="pull-right">
					
					<!--///// POST CONTROLS /////-->
					<div class="post-controls pull-right">
						<!-- LINK -->
						<a
							ng-href="{{ post.post_permalink }}"
							class="btn"
							stop-propagation-click
							tooltip="link"
							tooltip-popup-delay="333">
							<i class="pwi-link"></i>
						</a>
						<!-- DROPDOWN -->
						<span
							dropdown
							pw-admin-post-menu
							ng-show="userOptions != 0"
							class="admin-menu dropdown">
							<button
								prevent-default-click
								dropdown-toggle
								class="edit-post"
								style="border:none"
								tooltip="edit"
								tooltip-popup-delay="333">
								<i class="pwi-merkaba"></i>
							</button>
							<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel" >
								<li prevent-default-click ng-repeat="item in userOptions">
									<button ng-click="menuAction(item.action)"><i ng-class="item.icon"></i> <span ng-bind="item.name"></span></button>
								</li>
							</ul>
						</span>
					</div>

					<!-- TIME -->
					<div
						class="time unit pull-right"
						tooltip="{{ post.post_timestamp*1000 | date:'fullDate' }}"
						tooltip-popup-delay="333">
						<time datetime="{{ post.post_date }}">
							<i class="pwi-clock-o"></i> {{ post.time_ago }}
						</time>
					</div>

					<!-- DOWNLOAD -->
					<div
						class="download unit pull-right"
						ng-show="post.post_meta.pw_meta.image.download">
						<a download pw-href="post.image.sizes.full.url">
							<i class="pwi-arrow-down-thin"></i>
							download
						</a>
					</div>

					<!-- LINK -->
					<div
						class="link unit pull-right"
						ng-class="{ 'highlight-color': post.post_meta.pw_meta.link_url.label.highlight }"
						ng-show="post.post_meta.pw_meta.link_url.label.show == true || post.post_meta.pw_meta.link_url.label.show == 'custom' && post.link_url && post.link_format == 'link'"
						tooltip="{{ post.post_meta.pw_meta.link_url.label.tooltip.custom }}"
						tooltip-popup-delay="333">
						<a
							pw-href="post.link_url"
							pw-target="post.post_meta.pw_meta.link_url.new_target">
							<i class="pwi-crosshairs"></i>
							{{ post.post_meta.pw_meta.link_url.label.custom }}
						</a>
					</div>

					<!-- SHARE SOCIAL -->
					<div class="module share-social pull-right">
						<div pw-compile-code="getTemplatePartial({ partial:'viewPost.social.shareLinks', vars: post, id: post.ID })"></div>
					</div>

				</div>

			</div>

			<div class="clearfix"></div>


			<!-- POST CONTENT -->
			<div
				ng-show="post.post_content && post.post_content != ' '"
				class="post-content columns-{{ post.post_meta.pw_meta.post_content.columns }}"
				pw-compile-code="post.post_content">
			</div>

			<!-- SHOW POST EXCERPT IF NO POST CONTENT -->
			<div
				ng-show="!post.post_content || post.post_content == ' '"
				class="post-content columns-{{ post.post_meta.pw_meta.post_content.columns }}"
				ng-bind="post.post_excerpt">
			</div>


		</div>



		<!-- GALLERY : VERTICAL SCROLL -->
		<div
			class="media-viewer"
			style="width:{{post.post_meta.pw_meta.gallery.width}}%"
			ng-show="showView('galleryVertical')">
			<div
				pw-infinite-gallery
				gallery-preload="4"
				gallery-scroll="galleryGetNext(1)"
				class="view-gallery-vertical">
					<!-- INFINITE SCROLL -->
					<div class="infinite-y-scroll" id="scrolls-y">
						<div
							class="scroll-inner"
							infinite-y-scroll
							scroll-container=".modal"
							scroll-action="galleryGetNext( 2 )"
							scroll-disabled="!showView('galleryVertical')"
							scroll-distance="{{post.post_meta.pw_meta.gallery.y_scroll_distance}}">
							<!-- GALLERY IMAGE -->
							<div
								class="gallery-image"
								ng-repeat="galleryPost in galleryDisplayedPosts()">
								<a href="{{galleryPost.post_permalink}}">
									<img ng-src="{{galleryPost.image.sizes.xlarge.url}}">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- WRAPPER (Cloak until loaded) -->
		<div
			ng-cloak ng-hide="status=='loading'"
			class="pw-transition-fadein wrapper"
			pw-timeout="333"
			timeout-action="addClass('fadein-on')">

		</div>
		<!-- END WRAPPER -->
		
		<div class="clearfix"></div>

		<div class="space-8"></div>

	</div><!-- END POST -->
</div>